.masonry--container {
  width: 100%;  
  font-weight: 300;
  
  .grid {
    background: #CCC;
    margin: 0 auto;
  }

  /* clearfix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }

  /* ---- grid-item ---- */

  .grid-sizer,
  .grid-item {
    width: 33.333%;
    margin: 0;

    img {
      display: block;
      max-width: 100%;
    }
    
    @media (max-width: 500px) {
      width: 100%;
    }
  }
  
  /* ---- introductory grid-item ---- */
  .intro {
    width: 66.666%;
    padding: 25px;
    font-size: 25px;
    color: #90A4AE;
    background-color: white;

    span {
      color: #0693C0;
      font-size: 48px;
    }
    
    @media (max-width: 500px) {
      width: 100%;
    }
  }
}