.masonry--container {
  width: 100%;  
  font-weight: 300;

  .content__container {
    width: calc(100% - 40px);  
    margin-left: 20px;
    margin-right: 20px;
  }

  .img__container {
    position: relative;

    .img__overlay {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 0;
      background: white;
      transition: height 250ms;
    }

    .img__text {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      text-align: center;
      color: #90A4AE;
      opacity: 0;
      height: 45px;
      transition: opacity 250ms;
      display: table;

      span { display: table-cell; vertical-align: middle; }
    }

    &:hover {
      .img__overlay {
        height: 45px;
      }
      .img__text {
        opacity: 1;
      }
    }
  }

  a {
    text-decoration: none;
    color: #0693C0;
  }
  
  .grid {
    background: #CCC;
    margin: 0 auto;
  }

  /* clearfix */
  .grid:after {
    content: '';
    display: block;
    clear: both;
  }

  /* ---- grid-item ---- */

  .grid-sizer,
  .grid-item {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    width: 33.333%;
    margin: 0;

    img {
      display: block;
      margin: 0 auto;
      margin-bottom: 20px;
      max-width: 100%;
    }
    
    @media (max-width: 500px) {
      width: 100%;
    }
  }
  
  /* ---- introductory grid-item ---- */
  .intro {
    width: 66.666%;
    padding-top: 25px;
    padding-left: 65px;
    padding-right: 65px;
    padding-bottom: 65px;
    font-size: 25px;
    color: #90A4AE;
    background-color: white;

    span {
      color: #0693C0;
      font-size: 48px;
    }
    
    @media (max-width: 500px) {
      width: 100%;
    }
  }

  /* ---- hero grid-item ---- */
  .hero {
    width: 100%;
    padding: 0;
  }
}