// Navigation

.nav {
  position: fixed;
  bottom: 0px;
  height: $navbar-height;
  width: 100%;
  background: $blue;

  .nav__wrapper {
    height: 100%;
    margin: 0 auto;
    padding: 0px;
    text-align: center;

    .nav__item {
      display: inline-block;
      top: 50%;
      margin: 0 50px;
      color: $white;
      font-family: "Raleway";
      font-size: 1rem;
      text-transform: uppercase;
      letter-spacing: 3px;
      transform: translateY(-50%);

      &::after {
        content: "";
        position: absolute;
        top: 115%;
        left: 50%;
        height: 2px;
        width: 0;
        background: $white;
        -webkit-transition: all 150ms ease-in-out;
        -moz-transition: all 150ms ease-in-out;
        -ms-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
      }

      &:hover {
        &::after {
          left: 0;
          width: 100%;
        }
      }

      &.hide__first {
        @media (max-width: 1055px) {
          display: none;
        }
      }

      &.hide__second {
        @media (max-width: 865px) {
          display: none;
        }
      }

      &.hide__last {
        @media (max-width: 550px) {
          display: none;
        }
      }

      @media (max-width: 720px) {
        margin: 0 20px;
      }

      @media (max-width: 400px) {
        margin: 0 15px;
        font-size: 0.9rem;
      }
    }
  }
}
