// Home

.home {
  height: 100vh;
  overflow-x: hidden;
  user-select: none;

  .home__container {
    top: 30%;
    left: 20%;
    width: 100%;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

    @media (max-width: 850px) {
      left: 10%;
    }

    @media (max-width: 500px) {
      left: 5%;
    }
  }
}
